<div class="work">
    <a href="<%- config.root %><%- item.path %>">
        <img src="<%- item.cover_index || theme.default_cover_index %>" class="media" alt=""/>
        <div class="caption">
            <div class="work_title">
                <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
            </div>
        </div>
    </a>
</div>